.footer{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    background-color: $hoverColor;
}

.footer__title{
    color: $color1;
}

@media screen and(min-width: 500px) and(max-width: 800px){
    .footer{
        justify-content: center;
    }
}

@media screen and(max-width: 499px) {
    .footer{
        justify-content: center;
        flex-direction: column;
    }
}
