$color1: #ffffff;
$color2: #9d67c9;
$color3: #583970;
$color4: #c8a5d4;
$hoverColor:#6f6473;

@font-face {
    font-family: updockRegular;
    src: url(../fonts/Updock-Regular.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}