@font-face {
  font-family: updockRegular;
  src: url(../fonts/Updock-Regular.ttf);
}
@font-face {
  font-family: robotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}
header {
  background-color: #c8a5d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #9d67c9;
  padding: 10px 30px 10px;
  font-family: updockRegular;
  font-size: 50px;
  font-weight: 700;
}

.header__icons-cart {
  font-size: 30px;
  padding: 20px;
  color: #583970;
  cursor: pointer;
}

.header__icons-icon {
  font-size: 30px;
  padding: 20px;
  color: #583970;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 500px) {
  .header__title {
    padding-left: 15px;
  }

  .header__icons {
    display: flex;
  }

  .header__icons-icon {
    display: block;
  }

  .header__icons-cart {
    padding: 20px 0 20px 20px;
  }
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #583970;
}
nav button {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  background: transparent;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: robotoMedium;
}
nav button:hover {
  background-color: #6f6473;
}

.nav__link {
  text-decoration: none;
  color: #c8a5d4;
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }

  .nav-active {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #583970;
  }
}
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #c8a5d4;
}

.main__title {
  text-align: center;
  letter-spacing: 2px;
  padding: 20px;
  display: block;
  color: #9d67c9;
  font-size: 50px;
  font-family: robotoBold;
}

.main__pet {
  width: calc(25% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px;
  background-color: #6f6473;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s ease-in-out;
  position: relative;
}

.main__pet:hover {
  transform: scale(1.1);
}

.main__pet-image {
  max-width: 100%;
  height: 250px;
}

.main__pet-title {
  padding: 15px;
  letter-spacing: 1px;
  font-size: 30px;
  font-family: robotoBold;
}

.main__pet-price {
  font-family: robotoRegular;
  font-weight: bold;
  color: #583970;
  font-size: 20px;
  padding-bottom: 10px;
}

.main__pet-icons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main__pet-icons--cart {
  font-size: 25px;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .main__pet {
    width: calc(33% - 40px);
  }
}
@media screen and (min-width: 601px) and (max-width: 999px) {
  .main__pet {
    width: calc(50% - 40px);
  }

  .main__pet-image {
    height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .main__pet {
    width: calc(100% - 40px);
  }

  .main__pet-image {
    height: 200px;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  background-color: #6f6473;
}

.footer__title {
  color: #ffffff;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .footer {
    justify-content: center;
  }
}
@media screen and (max-width: 499px) {
  .footer {
    justify-content: center;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */